@import './base.css';

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */

  font-weight: normal;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
} */

.body-padding {
  padding: 20px;
}

h2 {
  color: black;
}

p {
  color: black;
}

.flex-container-parent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 10px
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 10px;
}

.flex-container-no-gap {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  padding: 10px;
}

.flex-item-left {
  /* background-color: #f1f1f1; */
  padding: 20px;
  margin: 5px;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 20px;
  margin: 5px;
}

/* Add a card effect for articles */
.card {
  /* background-color: white; */
  padding: 20px;
  /* margin-top: 20px; */
}

/* @media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */


.page-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}

.page-button:disabled {
  background-color: gray;
  color: white;
}